

/* shared style */

/* nav-text */
.text-color {
    color: #3A3A3A;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* navbar style */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.product-logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-links .nav-list {
    list-style: none;
}

.nav-list .list-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
}
.nav-list .list-link i {
    color: #000000;
}

/* banner style */
.banner {
    display: flex;
    margin-top: 100px;
    gap: 150px;
}
.banner-container {
    text-align: left;
    
}
.banner-title {
    font-size: 3.35rem;
    font-weight:bold ;
    margin-bottom: 16px;
}

.banner-description {
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.banner-btn-icon {
    align-items: center;
}

.btn-primary {
    background-color: #E02C6D;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    padding: 10px 50px 10px 24px;
    border-radius: 41px;
}
.banner-btn-icon  i {
    margin-left: -40px;
    color: white;

}
.image-container {
    background-image: url('/images/Circle design.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    background-size: contain;
}
 .images-camera {
    margin-left: 370px;
    margin-top: 50px;
    margin-bottom: 20px;
} 


/* logo style */
.logo {
    margin-top: 170px;
    display: flex;
    gap: 90px;
    justify-content: center;
}


/* Collection */

.Collection {
    margin-top: 100px;
}
.container-title {
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;

}

.Collection-container {
    display: grid;
    grid-template-columns: repeat(3 ,3fr);
    gap: 30px;
}
.Collection-item {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    width: 300px;
    padding: 17px 15px;
}
.item-title {
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 6px;
}
.item-price {
    color: #000000;
    font-size: 1.5rem;
}
.item-description {
    color: #787885;
    font-weight: bold;
    font-size:0.875rem ;
}
.item-rating {
    margin: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.item-rating i {
    color: #FFC107;
    font-size: 0.875rem;
}
.rating {
    color: #5E6366;
    font-weight: bold;
    font-size: 0.875rem;
}







/* responsive */
@media screen and (max-width:576px) {
    .nav-container,
    .logo {
        flex-direction: column;
    }
    .product-logo {
        text-align: center;
    }
    .banner-container {
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
    }
     .images-camera {
        margin-top: 100px;
        margin-left: -50px;
        width: 100%;
        padding: 20px;
       
     }
     .logo {
        align-items: center;
     }
     .logo-image {
        width: 50%;
     }
     
}